:root
{
    --clr-primary-900: #000000;
    --clr-primary-700: #E31710;
    --clr-primary-600: #213FBB;
    --clr-primary-500: #FABE01;
    --clr-primary-400: #F9651A;
    --clr-primary-300: #2DC1B5;
    --clr-primary-200: #FA608C;
    --clr-primary-100: #FFFFFF;

    --ff-backstage-talks: "backstage-talks", sans-serif;

    --fs-600: 1.125rem;
    --fs-400: .75rem;

    --fw-700: 700;
}

@font-face
{
    font-family: 'backstage-talks';
    src: url("font/backstage-talks.woff2") format("woff2");
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    font-family: var(--ff-backstage-talks);
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100%;
    line-height: 1.5;
    transition: background-color 600ms;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

::-webkit-scrollbar
{
    display: none;
}

/* Utilities CSS */

.text-clr-900 { color: var(--clr-primary-900); }
.text-clr-100 { color: var(--clr-primary-100); }

.fs-600 { font-size: var(--fs-600); }
.fs-400 { font-size: var(--fs-400); }

.fw-700 { font-weight: var(--fw-700); }

/* Styling CSS */

.wrapper-nav
{
    width: 100%;
    position: fixed;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img
{
    width: 16rem;
}

.wrapper-nav *
{
    margin-left: .5rem;
    margin-right: .5rem;
}

.wrapper-nav a
{
    text-decoration: none;
}

.wrapper-nav a:hover
{
    text-decoration: underline;
}

.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.carousel-item
{
    --gap-cols: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    align-content: center;
    height: 100vh;
    margin-block: 10rem;
}

.carousel .col
{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.carousel-item img
{
    width: 25rem;
}

.carousel-item .col-info
{
    margin-block: 1rem;
}

.carousel-item a
{
    color: var(--clr-primary-100);
    text-decoration: none;
    cursor: pointer;
}

.carousel-item a:hover
{
    text-decoration: underline;
}

.carousel-item .col-info
{
    display: flex;
    gap: var(--gap-cols);
    align-items: center;
    justify-content: center;
}

.col-info-buy
{
    display: flex;
    align-self: center;
    gap: var(--gap-cols);
}

.col-info-buy-pink
{
    display: flex;
    align-self: center;
    gap: var(--gap-cols);
    margin-bottom: 1rem;
}

.carousel-item .col-info-pink
{
    display: flex;
    gap: var(--gap-cols);
    align-items: center;
    justify-content: center;
}

.col-info-buy-pink a,
.col-info-pink a
{
    color: var(--clr-primary-200);
}

footer
{
    --gap-footer: .5rem;
    --margin-space: 2rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

footer .col-company
{
    display: flex;
    width: 15%;
    flex-direction: column;
    margin-left: var(--margin-space);
    margin-bottom: var(--margin-space);
}

footer .col-company-trademark
{
    display: flex;
    gap: var(--gap-footer);
    margin-bottom: 2rem;
}

footer .col-company-trademark
{
    font-size: var(--fs-400);
    font-weight: 200;
}



footer .col
{
    display: flex;
    margin-top: 2.5rem;
    margin-right: var(--margin-space);
    margin-bottom: var(--margin-space);
}

.col li
{
    margin-block: .4rem;
}

.col a
{
    text-decoration: none;
}

.col a:hover
{
    text-decoration: underline;
}

@media (max-width: 768px)
{
    .wrapper-nav
    {
        position: relative;
    }

    .wrapper-nav p, a
    {
        display: none;
    }
    footer{display: none}
}






